body {
    background-color:#DCDCDC;
    font-family: verdana;
}

h1 {
    text-align:center;
}

.patientDetails {
    background-color:white;
}

.box, button {
    background-color:white;
    max-width:25%;
    height:40px;
    font-size:1vw;
    padding:10px;
}

.box, button {
    background-color: white;
    max-width: 25%;
    min-width: 200px;
}

.box:hover, button:hover {
    background-color: #A9A9A9;
    transform: translateY(-3px);
}

#fError, #lError, #phoneError {
    font-size:0.7em;
    font-weight:bold;
}